@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

html, body {
    cursor: url('cursor.gif'), auto;
}

a {
  cursor: url('cursor.gif'), auto;
  color: #bc83a4;
  text-shadow: #fff 1px 0px, #fff -1px 0px, #fff 0px 1px, #fff 0px -1px;
  text-decoration: none;
}

* {
    scrollbar-color: #bc83a4 #e6e6e670;
    scrollbar-width: thin;
}

h1 {
    font-family: 'DynaPuff', cursive;
    font-weight: 700;
    letter-spacing: 10px;
    text-transform: lowercase;
    font-size: 60px;
    text-shadow: #f3cdec 1px 0px, #f3cdec -1px 0px, #f3cdec 0px 1px, #f3cdec 0px -1px, #f3cdec 5px 5px 5px;
    color: #fff;
    margin-bottom: -20px;
    
}

h2 {
    font-family: 'DynaPuff', cursive;
    color: #bc83a4;
    text-shadow: #fff 1px 0px, #fff -1px 0px, #fff 0px 1px, #fff 0px -1px;
}

h4 {
    font-family: 'Schoolbell', cursive;
    text-decoration: none;
    font-size: 20px;
    text-shadow: #fff 1px 0px, #fff -1px 0px, #fff 0px 1px, #fff 0px -1px;
    color: #bc83a4;
}

h4 a {
    font-family: 'Schoolbell', cursive;
    text-decoration: none;
    font-size: 20px;
    text-shadow: #fff 1px 0px, #fff -1px 0px, #fff 0px 1px, #fff 0px -1px;
}

a:hover {
    letter-spacing: 3px;
    background-color: rgba(158, 101, 133, 0.293);
}

h4 {
    margin-bottom: 5px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: #ceb1c8;
    background: linear-gradient(rgba(190, 147, 182, 0.619), rgba(99, 69, 84, 0.5)), url('background.jpg');
    background-attachment: fixed;
    color: #585858;
    letter-spacing: 1px;
}

header {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 50px 0 50px;
}

  nav ul {
    margin: 0;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0px 50px 0px 50px;
}

nav {
    width: 500px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: lowercase;
    margin: auto;
    margin-bottom: -10px;
    padding: 5px 0px 5px 0px;
    letter-spacing: 1px;
    font-weight: 900;
}

section {
    width: 500px;
    height: 450px;
    padding: 20px;
    background-color: #ffffff7b;
    margin: 0 auto;
    overflow-y: scroll;
}

table {
    border-collapse: separate;
    border-spacing: 5px;
    text-align: left;
    width: 100%;
    margin-top: 10px;
}

td {
    padding: 10px;
    text-align: justify;
    background-color: #ffffff69;
    
}

p {
    line-height: 1.5em;
    text-align: justify;
}

strong {
    font-family: 'DynaPuff', cursive;
    color: #bc83a4;
    text-shadow: #fff 1px 0px, #fff -1px 0px, #fff 0px 1px, #fff 0px -1px;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer a {
    font-family: 'DynaPuff', cursive;
    text-decoration: none;
    text-shadow: #fff 1px 0px, #fff -1px 0px, #fff 0px 1px, #fff 0px -1px;
}


footer {
    position: relative;
    text-align: center;
    left: 0;
    bottom: 0;
    margin-top: -30px;
    color: #ffffff;
    padding: 2em 0 2em 0;
    float: left;
    width: 100%;
    text-transform: lowercase;
    font-family: 'Schoolbell', cursive;
}

@media (max-width: 767px) {
  body {
    width: 95%;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  h1 {
    margin-left: -25px;
  }

      nav {
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    height: auto;
    }

    nav ul {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
  }
  
  nav ul li {
    width: 100%;
    text-align: center;
  }

  a:hover {
    letter-spacing: 0;
  }

  header {
    max-width: 62vw;
  }

  section {
    max-width: 80%;
    height: auto;
    overflow-y: visible;
    margin: 0 auto;
  }

  table {
    width: 100px;
    margin: 0;
    padding: 0;
  }

  .mobile-delete {
    display: none;
  }
}

@-webkit-keyframes fall {
0% {
opacity: 0.9;
top: 0
}

100% {
opacity: 0.2;
top: 100%
}
}

@keyframes fall {
0% {
opacity: 0.9;
top: 0
}

100% {
opacity: 0.2;
top: 100%
}
}

@-webkit-keyframes blow-soft-left {
0% {
margin-left: 0
}

100% {
margin-left: -50%
}
}

@keyframes blow-soft-left {
0% {
margin-left: 0
}

100% {
margin-left: -50%
}
}

@-webkit-keyframes blow-medium-left {
0% {
margin-left: 0
}

100% {
margin-left: -100%
}
}

@keyframes blow-medium-left {
0% {
margin-left: 0
}

100% {
margin-left: -100%
}
}

@-webkit-keyframes blow-soft-right {
0% {
margin-left: 0
}

100% {
margin-left: 50%
}
}

@keyframes blow-soft-right {
0% {
margin-left: 0
}

100% {
margin-left: 50%
}
}

@-webkit-keyframes blow-medium-right {
0% {
margin-left: 0
}

100% {
margin-left: 100%
}
}

@keyframes blow-medium-right {
0% {
margin-left: 0
}

100% {
margin-left: 100%
}
}

@-webkit-keyframes sway-0 {
0% {
-webkit-transform: rotate(-5deg)
}

40% {
-webkit-transform: rotate(28deg)
}

100% {
-webkit-transform: rotate(3deg)
}
}

@keyframes sway-0 {
0% {
-ms-transform: rotate(-5deg);
transform: rotate(-5deg)
}

40% {
-ms-transform: rotate(28deg);
transform: rotate(28deg)
}

100% {
-ms-transform: rotate(3deg);
transform: rotate(3deg)
}
}

@-webkit-keyframes sway-1 {
0% {
-webkit-transform: rotate(10deg)
}

40% {
-webkit-transform: rotate(43deg)
}

100% {
-webkit-transform: rotate(15deg)
}
}

@keyframes sway-1 {
0% {
-ms-transform: rotate(10deg);
transform: rotate(10deg)
}

40% {
-ms-transform: rotate(43deg);
transform: rotate(43deg)
}

100% {
-ms-transform: rotate(15deg);
transform: rotate(15deg)
}
}

@-webkit-keyframes sway-2 {
0% {
-webkit-transform: rotate(15deg)
}

40% {
-webkit-transform: rotate(56deg)
}

100% {
-webkit-transform: rotate(22deg)
}
}

@keyframes sway-2 {
0% {
-ms-transform: rotate(15deg);
transform: rotate(15deg)
}

40% {
-ms-transform: rotate(56deg);
transform: rotate(56deg)
}

100% {
-ms-transform: rotate(22deg);
transform: rotate(22deg)
}
}

@-webkit-keyframes sway-3 {
0% {
-webkit-transform: rotate(25deg)
}

40% {
-webkit-transform: rotate(74deg)
}

100% {
-webkit-transform: rotate(37deg)
}
}

@keyframes sway-3 {
0% {
-ms-transform: rotate(25deg);
transform: rotate(25deg)
}

40% {
-ms-transform: rotate(74deg);
transform: rotate(74deg)
}

100% {
-ms-transform: rotate(37deg);
transform: rotate(37deg)
}
}

@-webkit-keyframes sway-4 {
0% {
-webkit-transform: rotate(40deg)
}

40% {
-webkit-transform: rotate(68deg)
}

100% {
-webkit-transform: rotate(25deg)
}
}

@keyframes sway-4 {
0% {
-ms-transform: rotate(40deg);
transform: rotate(40deg)
}

40% {
-ms-transform: rotate(68deg);
transform: rotate(68deg)
}

100% {
-ms-transform: rotate(25deg);
transform: rotate(25deg)
}
}

@-webkit-keyframes sway-5 {
0% {
-webkit-transform: rotate(50deg)
}

40% {
-webkit-transform: rotate(78deg)
}

100% {
-webkit-transform: rotate(40deg)
}
}

@keyframes sway-5 {
0% {
-ms-transform: rotate(50deg);
transform: rotate(50deg)
}

40% {
-ms-transform: rotate(78deg);
transform: rotate(78deg)
}

100% {
-ms-transform: rotate(40deg);
transform: rotate(40deg)
}
}

@-webkit-keyframes sway-6 {
0% {
-webkit-transform: rotate(65deg)
}

40% {
-webkit-transform: rotate(92deg)
}

100% {
-webkit-transform: rotate(58deg)
}
}

@keyframes sway-6 {
0% {
-ms-transform: rotate(65deg);
transform: rotate(65deg)
}

40% {
-ms-transform: rotate(92deg);
transform: rotate(92deg)
}

100% {
-ms-transform: rotate(58deg);
transform: rotate(58deg)
}
}

@-webkit-keyframes sway-7 {
0% {
-webkit-transform: rotate(72deg)
}

40% {
-webkit-transform: rotate(118deg)
}

100% {
-webkit-transform: rotate(68deg)
}
}

@keyframes sway-7 {
0% {
-ms-transform: rotate(72deg);
transform: rotate(72deg)
}

40% {
-ms-transform: rotate(118deg);
transform: rotate(118deg)
}

100% {
-ms-transform: rotate(68deg);
transform: rotate(68deg)
}
}

@-webkit-keyframes sway-8 {
0% {
-webkit-transform: rotate(94deg)
}

40% {
-webkit-transform: rotate(136deg)
}

100% {
-webkit-transform: rotate(82deg)
}
}

@keyframes sway-8 {
0% {
-ms-transform: rotate(94deg);
transform: rotate(94deg)
}

40% {
-ms-transform: rotate(136deg);
transform: rotate(136deg)
}

100% {
-ms-transform: rotate(82deg);
transform: rotate(82deg)
}
}

.sakura {
background: -webkit-linear-gradient(120deg, rgba(255, 183, 197, 0.9), rgba(255, 197, 208, 0.9));
background: linear-gradient(120deg, rgba(255, 183, 197, 0.9), rgba(255, 197, 208, 0.9));
pointer-events: none;
position: absolute
}
